#navbar.scroll {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  
  #navbar.scroll .navbar-brand {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
  }
  .navbar-brand {
    font-size:large;
  }


  #scrollToTopBtn {
    display: none; /* Hide the button by default */
    position: fixed; /* Fixed position */
    bottom: 20px; /* Place the button 20px from the bottom */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it's on top of other elements */
    font-size: 16px; /* Increase font size */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #555; /* Set background color */
    color: white; /* Set text color */
    cursor: pointer; /* Add cursor on hover */
    padding: 15px; /* Add some padding */
    border-radius: 10px; /* Add border radius */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* Add shadow */
  }
  
  #scrollToTopBtn:hover {
    background-color: #444; /* Darken the background on hover */
  }
      
